.center{
  width: 85%;
  margin-left: 5%;
}

#one_book {
  margin-top: 30px;
  width:100%;
  height:376px;
  /*border: 1px solid #000;*/
}
#detailImage{
  float:left;
  width:23%;
  height:100%;
}
.center .detail_message{
  float:left;
  margin-left: 100px;
  width:35%;
  height:100%;
  /*border: 1px solid #000;*/
}
.detail_message h3{
  font-size: 30px;
  color:#5C5B5C;
  margin:0 0 15px 0;
}
.detail_message p{
  margin:0 0 13px 0;
}
.center .contact {
  margin-top: 30px;
  width:100%;
  height:50px;
  background: #50E3C2;
  font-weight: 500;
  color:#fff;
  padding: 10px 10px;
}

.center .message{
  margin-top: 30px;
  width:70%;
  height:380px;
  position: relative;
  /*border: 1px solid #000;*/
}
#shade{
  width:16%;
  height:2px;
  border-left:1px solid #bbb;
  border-right:1px solid #bbb;
  border-top: 0;
  border-bottom: 0;
  background-color:white;
  position:absolute;
  top:59px;
  left:0;
}
#tab{
  width:80%;
  height:60px;
  margin:0 0 0 0;
  overflow:hidden;
  zoom:1;
  list-style-type:none;
}
#tab li{
  float:left;
  width:20%;
  height:60px;
  line-height: 60px;
  text-align: center;
}

#tab_con {width:100%;height:280px;}

#tab_con div {
  width:100%;height:250px;
  display:none;
  border:1px #bbb solid;
  padding:20px;
}
#tab_con div.fdiv {display:block;border-radius: 0 20px 20px 20px;}
#tab .fli{
  border:1px solid #bbb;
  border-bottom:none;
  border-radius: 20px 20px 0px 0px;
}
#first{
  border-radius: 0 20px 20px 20px;
}
.center .cate{
  float:left;
  margin-left: 100px;
}
.center .form-control{
  float:left;
  margin-left: 40px;
  width:20%;
}
.center .btn{
  float:left;
  margin-left: 70px;
}
.detail_ul{
  width:100%;
}
.detail_ul li{
  float:left;
  width:100%;
  height:30px;
}
.detail_ul  .dleft{
  float:left;
  margin-left:0px;
}
.detail_ul  .dright{
  float:left;
  margin-left:80px;
}

.had {
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  border-style: solid;
  border-width: 22px;
  border-color: #7ce0c3 transparent transparent #7ce0c3;
  border-top-left-radius: 2px;
}
.had b{
  position: absolute;
  top: -12px;
  left: -25px;
  width: 40px;
  text-align: center;
  white-space: nowrap;
  line-height: 14px;
  font-size: 12px;
  transform: rotate(-45deg);
  color: #eee;
}

.gw_num {
  border: 1px solid #dbdbdb;
  width: 110px;
  line-height: 26px;
  overflow: hidden;
  display: inline-block;
}

.gw_num em {
  display: block;
  height: 26px;
  width: 26px;
  float: left;
  color: #7A7979;
  border-right: 1px solid #dbdbdb;
  text-align: center;
  cursor: pointer;
}

.gw_num .num {
  display: block;
  float: left;
  text-align: center;
  width: 52px;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  border: 0;
}

.gw_num em.add {
  float: right;
  border-right: 0;
  border-left: 1px solid #dbdbdb;
}